<h1>My Applications</h1>
<p class="subtitle">Track the status of your campaign applications</p>

<!-- Loading -->
<div *ngIf="loading">
  <p>Loading applications...</p>
</div>

<!-- Applications -->
<ng-container *ngIf="!loading && applications.length > 0">

  <div class="campaign-grid">

    <app-my-application-card
      *ngFor="let app of applications"
      [title]="app.campaignTitle"
      [brand]="app.brandName"
      [status]="app.status"
      [message]="app.message"
      [date]="app.deadline">
    </app-my-application-card>

  </div>

</ng-container>

<!-- Empty State -->
<app-empty-state
  *ngIf="!loading && applications.length === 0"
  title="No Applications"
  description="You haven’t applied to any campaigns yet">
</app-empty-state>