<div class="page-header">
  <div>
    <h1>My Campaigns</h1>
    <p>Manage your campaign listings</p>
  </div>

  <a routerLink="/brand/campaigns/create" class="primary-btn">
    Create New Campaign
  </a>
</div>

<p *ngIf="loading">Loading campaigns...</p>

<div class="error-message" *ngIf="!loading && errorMessage">
  <div class="error-icon">!</div>
  <div class="error-content">
    <p class="error-title">Unable to load campaigns</p>
    <p class="error-text">{{ errorMessage }}</p>
  </div>
</div>

<div class="campaigns-list" *ngIf="!loading && !errorMessage">
  <ng-container *ngIf="campaigns.length > 0; else noCampaigns">
    <app-campaign-card
      *ngFor="let campaign of campaigns"
      [title]="campaign.title"
      [brand]="campaign.brandName"
      [niche]="campaign.niche"
      [budget]="campaign.budget"
      [status]="campaign.status"
      [showAppications]="true"
      [campaignId]="campaign.id">
    </app-campaign-card>
  </ng-container>

  <ng-template #noCampaigns>
    <app-empty-state
      title="No campaigns yet"
      description="Create your first campaign to start finding influencers">
    </app-empty-state>
  </ng-template>

  <!-- Pagination -->
<div class="pagination" >

  <button (click)="prevPage()" [disabled]="page === 0">
    ← Prev
  </button>

  <button
    *ngFor="let p of pages"
    (click)="goToPage(p)"
    [class.active]="page === p"
  >
    {{ p + 1 }}
  </button>

  <button (click)="nextPage()" [disabled]="page === totalPages - 1">
    Next →
  </button>

</div>
</div>